<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.nfc.plugin.NfcTechPlugin"
      version="0.1.0">
    <name>NfcTech</name>
    <description>PhoneGap NfcTech Plugin</description>
    <license>MIT</license>
    <keywords>nfc, NfcV</keywords>
 
    <js-module src="www/nfctech.js" name="NfcTech">
        <clobbers target="window.nfctech" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NfcTech">
                <param name="android-package" value="org.nfc.plugin.NfcTechPlugin"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>
 
        <source-file src="src/android/org/nfc/plugin/NfcTechPlugin.java" target-dir="src/org/nfc/plugin" />      
     </platform>          
</plugin>